@import '../../assets/css/style.scss';

#quiz {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer"
  ;

  grid-template-rows: 20% auto 20%;

  @include mobile() {
    grid-template-rows: auto;
  }

  header {
    margin-top: 20px;
    grid-area: header;

    .top-bar {
      width: 100%;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
    }
  }

  main {
    grid-area: main;
    align-self: start;
    display: flex;
    flex-direction: column;

    > h1 {
      margin-bottom: 40px;
    }
  }

  footer {
    grid-area: footer;
    align-self: end;
    text-align: center;
    margin-bottom: 20px;
  }
}
