@import '../../assets/css/style.scss';

#quiz {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer"
  ;

  grid-template-rows: 20% auto 20%;

  @include mobile() {
    grid-template-rows: auto;
  }

  header.top-bar {
    grid-area: header;
    display: flex;
    justify-content: space-between;
  }

  main {
    grid-area: main;
    align-self: center;
  }

  footer {
    grid-area: footer;
    align-self: end;
    text-align: center;
  }
}
