@import '../../../../src/assets/css/global/breakpoints';

ul {
  @include mobile() {
    grid-template-columns: 100%;
  }

  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;

  li {
    margin: 15px;
    button {
      width: 100%;
    }
  }
}
