main {
  display: grid;
  grid-template-areas:
    "sidebar creator"
  ;
  grid-template-columns: auto 70%;
  grid-gap: 15px;

  .created-questions {
    ul {
      max-height: 200px;
      overflow: scroll;
    }
  }
}
